:root.theme-dark {
  --title-color: #db00ff;
  --background-color: #000028;
  --navigagtion-text-color: #ff0070;
  --nav-outline: 1px solid #ff0070;
  --accent-color: #ff0070;
  --accent-text-color: #000028;
  --subtitle-color: #ff0070;
  --main-text-color: #f1b2ce;
  --page-image: url("../images/cover-image-dark.png");
  --hyperlink-outline: #f1b2ce;
}

@media (prefers-color-scheme: dark) {
  :root {
      --title-color: #db00ff;
      --background-color: #000028;
      --navigagtion-text-color: #ff0070;
      --nav-outline: 1px solid #ff0070;
      --accent-color: #ff0070;
      --accent-text-color: #000028;
      --subtitle-color: #ff0070;
      --main-text-color: #f1b2ce;
      --hyperlink-outline: #f1b2ce;
  }
}

.page.theme_dark {
  --title-color: #db00ff;
  --background-color: #000028;
  --navigagtion-text-color: #ff0070;
  --nav-outline: 1px solid #ff0070;
  --accent-color: #ff0070;
  --accent-text-color: #000028;
  --subtitle-color: #ff0070;
  --main-text-color: #f1b2ce;

  --page-image: url("../images/cover-image-dark.png");
}
